.footer {
    height: 384px;
    /* Style for "footer-bac" */
    background-color: #f7f7f7;
}

.footer-layout1 {
    padding-top: 120px;
}


/*общий заголовок для элементов layout1*/

.footer-h3 {
    /* Style for "Contact Us" */
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "C, ontact" */
    letter-spacing: 1.8px;
}

.footer11 {
    width: 221px;
    float: left;
    padding-right: 50px;
}

.footer11-p {
    /* Style for "132A Bridg" */
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.75em;
    margin-top: 24px;
}

.footer12 {
    width: 422px;
    float: left;
}

.footer12-text {
    margin-top: 24px;
}

.footer12-ul {
    float: left;
    list-style-type: none;
}

.footer12-text ul:last-child {
    float: right;
}

.footer12-a {
    text-decoration: none;
    /* Style for "Sales term" */
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Sales term" */
    letter-spacing: 0.7px;
    line-height: 1.5em;
}

.footer13 {
    width: 370px;
    float: right;
    padding-left: 78px;
}

.footer13-p {
    /* Style for "Suscribe t" */
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 26px;
    box-sizing: border-box;
    margin-top: 24px;
    line-height: 1.5em;
}

.footer13-form {
    width: 370px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #d9dee1;
}

.footer13-input {
    border: none;
    width: 355px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
    float: left;
    margin-top: 17px;
    /*чтобы размер не выходил за пределы родителя*/
    box-sizing: border-box;
}

.footer13-input:focus {
    outline: none;
}

.footer13-btn {
    height: 17px;
    width: 21px;
    background-image: url(../img/footer/plane.svg);
    background-size: 17px 21px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    float: right;
    margin-right: 15px;
    margin-top: -15px;
}

.footer13-btn:checked {
    outline: none;
}

.footer13-btn:hover {
    outline: #f7f7f7 solid;
}

.footer13-btn:active {
    outline: none;
}

.footer13:focus {
    outline: none;
}


/**********************************layout2**************************************************/

.footer-layout2 {
    margin-top: 59px;
}

.footer21 {
    float: left;
    padding-right: 158px;
    margin-top: 10px;
}

.footer21 a {
    /* Style for "© Copyrigh" */
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "©,  Copyri" */
    letter-spacing: 0.6px;
}

.footer21-p {
    /* Style for "© Copyrigh" */
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "©,  Copyri" */
    letter-spacing: 0.6px;
}

.footer22 {
    width: 129px;
    float: left;
}

.footer22-social {}

.footer22-a {
    text-decoration: none;
}

.footer22-img {
    height: 28px;
}

.footer23 {
    width: 370px;
    float: right;
    margin-top: 10px;
}

.footer23-a {
    text-decoration: none;
    /* Style for "Terms & Co" */
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "T, erms &" */
    letter-spacing: 0.6px;
    float: left;
}